/********* This is for Navigation ***********/
@use '../abstracts' as a;
/*========== NAV ==========*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 0;

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    img {
      background-color: darkgray;
    }
    span {
      font-size: 1.3rem;
      font-weight: 100;
      color: var(--text-color);
    }
  }

  .welcome {
    font-size: 1.3rem;
    font-weight: 500;
  }

  .log-btn {
    border: none;
    outline: none;
    padding: 0.5rem;
    border-radius: 0.4rem;
    font-size: 1.3rem;
    text-align: center;
    background-color: #39b385;
    cursor: pointer;
    transition: all 0.3s;
    text-transform: uppercase;
  }

  &__socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.3rem;
  }

  .nav__link {
    color: var(--text-color-light);
    position: relative;
    font-size: 1.3rem;
  }
  .active--link {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
  }
  .nav__link:hover {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
  }
  .nav__link:hover::after {
    content: '';
    position: absolute;
    width: 80%;
    height: 2px;
    left: 0;
    bottom: -3px;
    transition: all 0.4s ease-in-out;
    background-color: #000;
  }
  .nav-close{
    display: none;
  }

  @media screen and (max-width: 967px) {
    &__menu {
      position: fixed;
      right: 0;
      top: -100%;
      width: 100%;
      height: auto;
      margin: 0 auto;
      border-bottom-right-radius: 1rem;
      border-bottom-left-radius: 1rem;
      padding: 1.5rem 0rem;
      z-index: var(--z-fixed);
      transition: all 0.2s ease-in;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
      background-color: var(--body-color);

      .nav-close {
        display: flex;
        font-size: 1.5rem;
        justify-content: flex-end;
        padding-right: 1rem;
        cursor: pointer;
      }
    }
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 968px) {
    &__menu--list {
      display: flex;
      flex-direction: row;
      column-gap: 1.5rem;
    }

    &__toggle {
      display: none;
    }
  }
}


