.activity {
  &__container {
    grid-template-columns: repeat(2, 1fr);
    &--action {
      background-color: var(--body-color);
      background-image: linear-gradient(
        to bottom right,
        var(--color-blue),
        var(--container-color)
      );
      border-radius: 0.5rem;
      padding: 1rem;

      .activity-header {
        margin-bottom: 1.5rem;
        font-size: 1.7rem;
        font-weight: 600;
        color: var(--text-color);
      }
    }

    .loan {
      background-image: linear-gradient(to bottom right, #39b385, #9be15d);
      @media screen and (min-width: 768px) {
        grid-template-columns: 2.5fr 2.5fr 1fr;
        padding: 0.7rem 2rem 2rem;
      }
    }

    .close {
      background-image: linear-gradient(to bottom right, #e52a5a, #ff585f);
    }
  }
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
  .activity__container {
    grid-template-columns: repeat(4, 1fr);
  }
  .activity__container--action {
    padding: 2rem;
  }
}

@media screen and (min-width: 976px) {
}

@media screen and (min-width: 1200px) {
}
