.activity {
  &__container {
    grid-template-columns: repeat(2, 1fr);
    &--action {
      background-color: var(--container-color);
      box-shadow: var(--box-shadow);
      border-radius: 0.5rem;
      padding: 1rem;
      .activity-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.5rem;
        img{
          width: 20px;
          margin-bottom: 2rem;
        }
        .activity-header {
          margin-bottom: 1.5rem;
          font-size: 1.7rem;
          font-weight: 600;
          color: var(--text-color);
        }
      }
    }

    .loan {
      // background-image: linear-gradient(to bottom right, #39b385, #9be15d);
      @media screen and (min-width: 768px) {
        grid-template-columns: 2.5fr 2.5fr 1fr;
        padding: 2rem 2rem;
      }
    }
  }
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
  .activity__container {
    grid-template-columns: repeat(4, 1fr);
  }
  .activity__container--action {
    padding: 2rem;
  }
}

@media screen and (min-width: 976px) {
}

@media screen and (min-width: 1200px) {
}
