.transaction {
  padding: 0 0 3rem;
  &__container {
    flex-direction: column;
    &--movements {
      background-color: var(--container-color);
      box-shadow: var(--box-shadow);
      height: 350px;
      flex: 2.5;
      overflow: auto;
      border-radius: 0.5rem;
      &_contents {
        padding: 1rem;
        .movements__header {
          font-size: 2rem;
          font-weight: 500;
          overflow: auto;
          justify-content: space-between;
          align-items: center;
          padding: 0 0.5rem;
          i {
            color: var(--color-blue);
          }
        }
        .movements {
          height: 350px;
          overflow: auto;
        }
        .movements__row {
          padding: 2rem 0.5rem 1rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid #eee;
        }
        .movements__type {
          font-size: 1.1rem;
          text-transform: uppercase;
          font-weight: 500;
          padding: 0.1rem 1rem;
          border-radius: 10rem;
          margin-right: 2rem;
        }
        .movements__type--IN,
        .movements__value--IN {
          color: #39b385;
        }

        .movements__type--OUT,
        .movements__value--OUT {
          color: #e52a5a;
        }
        .movements__value {
          align-items: center;
          justify-content: center;
          i {
            font-size: 1rem;
            color: #fff;
          }
        }
      }
    }

    &--overview {
      background-color: var(--container-color);
      box-shadow: var(--box-shadow);
      height: 350px;
      flex: 2;
      border-radius: 0.5rem;
      &_contents {
        padding: 1rem;
        .overview__header {
          font-size: 2rem;
          font-weight: 500;
          overflow: auto;
          justify-content: space-between;
          align-items: center;
          padding: 0 0.5rem;
          i {
            color: var(--color-blue);
          }
        }
        .overview__summary {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 2rem 0.5rem 1rem;
          border-bottom: 1px solid #eee;
          .summary-detail {
            text-align: center;
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
            .summary__label {
              font-size: 1rem;
              font-weight: 500;
              text-transform: uppercase;
            }

            .summary__value {
              font-size: 1.5rem;
            }

            .summary__value--in,
            .summary__value--interest {
              color: #66c873;
            }

            .summary__value--out {
              color: #f5465d;
            }
          }
          .btn--sort {
            border: none;
            background-color: var(--body-color);
            box-shadow: var(--box-shadow);
            color: var(--text-color);
            border-radius: 0.5rem;
            font-size: 1.3rem;
            padding: 0.5rem;
            font-weight: 500;
            cursor: pointer;
          }
        }
      }
    }
  }
}

// Media Queries
@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
  .transaction__container {
    flex-direction: row;
    &--movements_contents {
      padding: 2rem;
    }
    &--overview_contents {
      padding: 2rem;
    }
  }
}

@media screen and (min-width: 976px) {
}

@media screen and (min-width: 1200px) {
}
